{
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    },
    "import/resolver": {
      "babel-module": {
        "alias": {
          "screens": "./src/screens",
          "components": "./src/components",
          "constants": "./src/constants",
          "hooks": "./src/hooks",
          "types": "./src/types",
          "theme": "./src/theme",
          "common": "./src/common"
        }
      }
    }
  },
  "extends": "@callstack"
}
